<html lang="es">
<%- include('head',{title:'Inicio', head_add: ''})%>
  <body>
<%- include('alerta')%>
<%- include('navbar', {user: true, username: nombre, position: 'index'}) %>
<main>
  <!-- PARTIDOS EN DIRECTO -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Partidos en Directo</h5>
      </div>
      <div class="modal-body">
        <% for (let iCount=0; iCount <partidosDirecto.length; iCount++) { %>
          <div class="row">
            <div class="col-6 h1 border-end border-2 border-dark">
              <%= partidosDirecto[iCount].local_nombre %>
            </div>
            <div class="col-6 h1 text-end">
              <%= partidosDirecto[iCount].visitante_nombre %>
            </div>
          </div>
            <div class="col-12 resultado text-center">
              <span class="h1 border-1 border-dark">
                <%= partidosDirecto[iCount].local_marcador %>-<%= partidosDirecto[iCount].visitante_marcador %> 
              </span>
            </div>
            <div class="text-center">
              <span class="h5 border-1 border-dark">
                <%= partidosDirecto[iCount].lugar %>
              </span>
              </div>
            <% }%>
          </div>
      </div>
    </div>
  </div>

  <!-- PROXIMOS PARTIDOS -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Próximos partidos</h5>
      </div>
      <div class="modal-body">
        <% for (let iCount=0; iCount <partidosProximos.length; iCount++) { %>
          <div class="row">
            <div class="col-6 h1 border-end border-2 border-dark">
              <%= partidosProximos[iCount].local_nombre %>
            </div>
            <div class="col-6 h1 text-end">
              <%= partidosProximos[iCount].visitante_nombre %>
            </div>
          </div>
            <div class="col-12 text-center">
              <span class="h1 border-1 border-dark">
                <%= partidosProximos[iCount].local_marcador %>-<%= partidosProximos[iCount].visitante_marcador %> 
              </span>
            </div>
            <div class="text-center">
              <span class="h5 border-1 border-dark">
                <%= partidosProximos[iCount].fecha %> <br>
                <%= partidosProximos[iCount].lugar %> <br>
              </span>
            </div>
            <% }%>
          </div>
      </div>
    </div>
  </div>

      <!-- ÚLTIMO PARTIDO USUARIO -->
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mi último partido finalizado</h5>
          </div>
          <div class="modal-body">
            <% for (let iCount=0; iCount <partidoUsuario.length; iCount++) { %>
              <div class="row">
                <div class="col-6 h1 border-end border-2 border-dark">
                  <%= partidoUsuario[iCount].local_nombre %>
                </div>
                <div class="col-6 h1 text-end">
                  <%= partidoUsuario[iCount].visitante_nombre %>
                </div>
              </div>
                <div class="col-12 text-center">
                  <span class="h1 border-1 border-dark">
                    <%= partidoUsuario[iCount].local_marcador %>-<%= partidoUsuario[iCount].visitante_marcador %> 
                  </span>
                </div>
                <div class="text-center">
                  <span class="h5 border-1 border-dark">
                    <%= partidoUsuario[iCount].fecha %>
                    <%= partidoUsuario[iCount].lugar %>
                  </span>
                </div>
                <% }%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.open('partidos', '_self');">Ver todos mis partidos finalizados</button>
              </div>
          </div>
        </div>
      </div>
    
     <!-- PROXIMO PARTIDO USUARIO -->
	 <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mi proximo partido</h5>
          </div>
          <div class="modal-body">
            <% for (let iCount=0; iCount <partidoUsuario.length; iCount++) { %>
              <div class="row">
                <div class="col-6 h1 border-end border-2 border-dark">
                  <%= partidoUsuario[iCount].local_nombre %>
                </div>
                <div class="col-6 h1 text-end">
                  <%= partidoUsuario[iCount].visitante_nombre %>
                </div>
              </div>
                <div class="col-12 text-center">
                  <span class="h1 border-1 border-dark">
                    <%= partidoUsuario[iCount].local_marcador %>-<%= partidoUsuario[iCount].visitante_marcador %> 
                  </span>
                </div>
                <div class="text-center">
                  <span class="h5 border-1 border-dark">
                    <%= partidoUsuario[iCount].fecha %>
                    <%= partidoUsuario[iCount].lugar %>
                  </span>
                </div>
                <% }%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.open('partidos', '_self');">Ver todos mis próximos partidos</button>
              </div>
          </div>
        </div>
      </div>

</main>
</body>
<script type="text/javascript">
	const socket = io();
</script>
</html>