<html lang="es">
<%- include('head',{title:'Inicio', head_add: '   '})%>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/socket_work.js"></script>
    <script src='/scripts/home.js'></script>
<%- include('alerta')%>
<%- include('navbar', {user: nombre, position: 'index'}) %>
<main>
  <!-- PARTIDOS EN DIRECTO -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Partidos en Directo</h5>
      </div>
      <div class="modal-body">
        <% for (let iCount=0; iCount <partidosDirecto.length; iCount++) { %>
          <div class="row partido_directo mb-3" partido_id="<%=partidosDirecto[iCount].id%>">
            <div class="col-6 h1 border-end border-2 border-dark">
              <%= partidosDirecto[iCount].local_nombre %>
            </div>
            <div class="col-6 h1 text-end">
              <%= partidosDirecto[iCount].visitante_nombre %>
            </div>
            <div class="col-12 resultado text-center">
              <span class="h1 border-1 border-dark">
                <span class="local-marcador h1"><%= partidosDirecto[iCount].local_marcador %></span>-<span class="visitante-marcador h1"><%= partidosDirecto[iCount].visitante_marcador %></span>
              </span>
            </div>
            <div class="text-center">
              <span class="h5 border-1 border-dark">
                <%= partidosDirecto[iCount].lugar %>
              </span>
          </div>
              </div>
            <% }%>
      </div>
    </div>
  </div>

  <!-- PROXIMOS PARTIDOS -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Próximos partidos</h5>
      </div>
      <div class="modal-body">
        <% for (let iCount=0; iCount <partidosProximos.length; iCount++) { %>
          <div class="row partido_futuro" partido_id="<%=partidosProximos[iCount].id %>">
            <div class="col-6 h1 border-end border-2 border-dark">
              <%= partidosProximos[iCount].local_nombre %>
            </div>
            <div class="col-6 h1 text-end">
              <%= partidosProximos[iCount].visitante_nombre %>
            </div>
            <div class="col-12 text-center">
              <span class="h1 border-1 border-dark">
                <%= partidosProximos[iCount].local_marcador %>-<%= partidosProximos[iCount].visitante_marcador %> 
              </span>
            </div>
            <div class="text-center">
              <span class="h5 border-1 border-dark">
                <%= partidosProximos[iCount].fecha.toLocaleDateString('es-ES') %> <br>
                <%= partidosProximos[iCount].lugar%> <br>
              </span>
            </div>
          </div>
            <% }%>
      </div>
    </div>
  </div>
    <%if (nombre){%>
      <!-- ÚLTIMO PARTIDO USUARIO -->
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Último partido finalizado</h5>
          </div>
          <div class="modal-body">
            <%if(userUltimoPartido) {%>
              <div class="row">
                <div class="col-6 h1 border-end border-2 border-dark">
                  <%= userUltimoPartido.local_nombre %>
                </div>
                <div class="col-6 h1 text-end">
                  <%= userUltimoPartido.visitante_nombre %>
                </div>
              </div>
                <div class="col-12 text-center">
                  <span class="h1 border-1 border-dark">
                    <%= userUltimoPartido.local_marcador %>-<%= userUltimoPartido.visitante_marcador %> 
                  </span>
                </div>
                <div class="text-center">
                  <span class="h5 border-1 border-dark">
                    <%= userUltimoPartido.fecha.toLocaleDateString('es-ES') %> <br>
                    <%= userUltimoPartido.lugar %>
                  </span>
                </div>
                <% } else {%>
                <span class="h1">No has jugado ningún partido</span>
                <%}%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.open('partidos', '_self');" <%if(!userUltimoPartido) {%>disabled<%}%>>Ver todos mis partidos finalizados</button>
              </div>
          </div>
        </div>
      </div>
    
     <!-- PROXIMO PARTIDO USUARIO -->
	 <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mi proximo partido</h5>
          </div>
          <div class="modal-body">
            <%if(userProximoPartido) {%>
              <div class="row">
                <div class="col-6 h1 border-end border-2 border-dark">
                  <%= userProximoPartido.local_nombre %>
                </div>
                <div class="col-6 h1 text-end">
                  <%= userProximoPartido.visitante_nombre %>
                </div>
              </div>
                <div class="col-12 text-center">
                  <span class="h1 border-1 border-dark">
                    <%= userProximoPartido.local_marcador %>-<%= userProximoPartido.visitante_marcador %> 
                  </span>
                </div>
                <div class="text-center">
                  <span class="h5 border-1 border-dark">
                    <%= userProximoPartido.fecha.toLocaleDateString('es-ES') %> <br>
                    <%= userProximoPartido.lugar %>
                  </span>
                </div>
                <%} else {%>
                <span class="h1">No tienes ningún partido</span>
                <%}%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.open('partidos', '_self');" <%if(!userProximoPartido) {%>disabled<%}%>>Ver todos mis próximos partidos</button>
              </div>
          </div>
        </div>
<%}%>
</main>
</body>
</html>