<html lang="es">
<%- include('head',{title:'Partidos', head_add: ''})%>
  <body>
<%- include('alerta')%>
<%- include('navbar', {user: nombre, position: 'partidos'}) %>
<main>
	<!-- CONTROLAR PARTIDO -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Partido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 h1 border-end border-2 border-dark">
            Equipo LOCAL
          </div>
          <div class="col-6 h1 text-end">
            Equipo VISITANTE
          </div>
          <div class="col-12 text-center">
            <span class="h1 resultado border-1 border-dark">0-0</span>
          </div>
          <div class="col-3"></div>
          <div class="col-6">
            <div class="row">
              <div class="col-6 container"><button type="button" class="fs-2 btn btn-secondary w-100">Gol Local</button></div>
              <div class="col-6 container"><button type="button" class="fs-2 btn btn-secondary w-100">Gol Visitante</button></div>
            </div>
          </div>
          <div class="col-3"></div>
        <div class="col-3"></div>
          <div class="col-6 mt-3"><button type="button" class="fs-2 btn btn-info w-100">Comenzar partido</button><button type="button" class="fs-2 btn btn-warning w-100">Finalizar partido</button></div>
          <div class="col-3"></div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>

      <!-- PARTIDOS USUARIO -->
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mis partidos</h5>
          </div>
          <div class="modal-body">
            <% for (let iCount=0; iCount <partidoUsuario.length; iCount++) { %>
              <div class="row">
                <div class="col-6 h1 border-end border-2 border-dark">
                  <%= partidoUsuario[iCount].local_nombre %>
                </div>
                <div class="col-6 h1 text-end">
                  <%= partidoUsuario[iCount].visitante_nombre %>
                </div>
              </div>
                <div class="col-12 text-center">
                  <span class="h1 border-1 border-dark">
                    <%= partidoUsuario[iCount].local_marcador %>-<%= partidoUsuario[iCount].visitante_marcador %> 
                  </span>
                </div>
                <div class="text-center">
                  <span class="h5 border-1 border-dark">
                    <%= partidoUsuario[iCount].fecha %>
                    <%= partidoUsuario[iCount].lugar %>
                  </span>
                </div>
                <% }%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.open('partidos', '_self');">Ver todos mis partidos finalizados</button>
              </div>
          </div>
        </div>
      </div>
    
     <!-- PROXIMOS PARTIDO USUARIO -->
	 <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mis próximos partido</h5>
          </div>
          <div class="modal-body">
            <% for (let iCount=0; iCount <partidosProximos.length; iCount++) { %>
              <div class="row">
                <div class="col-6 h1 border-end border-2 border-dark">
                  <%= partidosProximos[iCount].local_nombre %>
                </div>
                <div class="col-6 h1 text-end">
                  <%= partidosProximos[iCount].visitante_nombre %>
                </div>
              </div>
                <div class="col-12 text-center">
                  <span class="h1 border-1 border-dark">
                    <%= partidosProximos[iCount].local_marcador %>-<%= partidosProximos[iCount].visitante_marcador %> 
                  </span>
                </div>
                <div class="text-center">
                  <span class="h5 border-1 border-dark">
                    <%= partidosProximos[iCount].fecha %>
                    <%= partidosProximos[iCount].lugar %>
                  </span>
                </div>
                <% }%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.open('partidos', '_self');">Ver todos mis próximos partidos</button>
              </div>
          </div>
        </div>
      </div>

<!-- CREAR PARTIDO -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear partido</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="/partidos/add" id="form-add-partido">
        	<div class="mb-3">
  				<label for="fecha-input" class="form-label">Fecha</label>
  				<input type="datetime-local" class="form-control" name="fecha" id="fecha-input" required="true">
          <label for="lugar-input" class="form-label">Lugar</label>
          <input type="text" class="form-control" name="lugar" id="lugar-input" required="true">
          <label for="local-input" class="form-label">Equipo Local</label>
          <input type="text" class="form-control" name="lugar" id="local-input" required="true"><br>
          <label for="visitante-input" class="form-label">Equipo Visitante</label>
          <input type="text" class="form-control" name="lugar" id="visitante-input" required="true"><br>
		    	</div>
			</div>
    
        </form>
        <div class="modal-footer">
          <button type="button" onclick="$('form-add-partido').submit();" class="btn btn-primary">Crear partido</button>
        </div>
      </div>
      
    </div>
  </div>

</main>
</body>
<script type="text/javascript">
	const socket = io();
</script>
</html>